<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wSpecXY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <wSpecXY.Properties.Settings>
            <setting name="bidu_grant_type" serializeAs="String">
                <value>client_credentials</value>
            </setting>
            <setting name="bidu_client_id" serializeAs="String">
                <value>dw6P5IePRc4kQXH6aVZfQXZj</value>
            </setting>
            <setting name="bidu_client_secret" serializeAs="String">
                <value>Wucm4GXSvKhZpVFZOopfdxvFDNAfXmVq</value>
            </setting>
            <setting name="bidu_access_token" serializeAs="String">
                <value />
            </setting>
            <setting name="bidu_cuid" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="bidu_lan" serializeAs="String">
                <value>zh</value>
            </setting>
            <setting name="ibot_app_key" serializeAs="String">
                <value>288F2S09NyBs</value>
            </setting>
            <setting name="ibot_app_secret" serializeAs="String">
                <value>jbF17nlMnzHN7UZH59Sw</value>
            </setting>
            <setting name="ibot_user_id" serializeAs="String">
                <value>api-vxxnrhzs</value>
            </setting>
            <setting name="syn_voice_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="syn_voice_speed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfg_recog" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfg_intrp_ibot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cfg_wave_fmt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cfg_intrp_simsimi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="local_serialize" serializeAs="String">
                <value />
            </setting>
        </wSpecXY.Properties.Settings>
    </userSettings>
</configuration>